
.crackers-background {
    width: 100%;
    background-image: url(../images/crackers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.crackers2-background {
    width: 100%;
    background-image: url(../images/crackers2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.crackers3-background {
    width: 100%;
    background-image: url(../images/crackers3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.height-home{
    height:30rem;
}
.home-title{
    text-shadow: 4px 4px 4px #fff;
    font-size: 7rem;
}
.home-text{
    margin: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.footer-section{
    /* background-color: #0054a0; */
    background-color:#877e7e;
color:#fff;
}

.slideshow-container {
    /* max-width: 1000px; */
    position: relative;
    /* margin: auto; */
  }

.header-background{
background: #0054a0;
}
.scroll{
height: 450px;
    overflow: auto;
}


.container{
    justify-content: space-between;  
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;            /* Footer height */
}

.product {
    width: 290px;
    margin: 0.5rem;
}

.product .product-card {
    /* background: linear-gradient(180deg, #CB74F6 0%, #1160EB 100%) */
    /* background:#000; */
    background:#fff;
}

.product img {
    /* border-radius: 100%; */
    width: 250px;
    height: 250px;
}
.product-card {
    background: linear-gradient(150.11deg, #015EEA 4.38%, #00B6F8 51.53%, #015EEA 96.76%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.mainWrap {
    display: flex;
    flex-wrap: wrap;
}

table {
    border-collapse: collapse;
  }

.cart-table {
    display: table;
    border-collapse: collapse;
  }
 
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
  }
  
  .strike-line{
  color:red;
  text-decoration:line-through;
  text-decoration-thickness: 2px;
  }

  a.notification {
    position: relative;
    display: block;
    background-size: contain;
    text-decoration: none;
  }
  .num {
    position: absolute;
    /* right: -25px; */
    top: -5px;
    color: #fff;
  }