@media (min-width: 1280px){
.align {
    padding: 0 5rem;
}
.home-title{
    text-shadow: 4px 4px 4px #fff;
    font-size: 7rem;
}
}


@media (min-width: 1024px){
.align {
    padding: 0 5rem;
}
.home-title{
    text-shadow: 4px 4px 4px #fff;
    font-size: 7rem;
}
}


@media (min-width: 300px) and (max-width:400px){
    .home-title{
        text-shadow: 4px 4px 4px #fff;
        font-size: 2.5rem;
    }
}
@media (min-width: 400px) and (max-width:600px){
    .home-title{
        text-shadow: 4px 4px 4px #fff;
        font-size: 3.5rem;
    }
}
@media (min-width: 600px) and (max-width:800px){
    .home-title{
        text-shadow: 4px 4px 4px #fff;
        font-size: 4.5rem;
    }
}
@media (min-width: 801px) and (max-width:900px){
    .home-title{
        text-shadow: 4px 4px 4px #fff;
        font-size: 6rem;
    }
}
    @media (min-width: 900px){
        .home-title{
            text-shadow: 4px 4px 4px #fff;
            font-size: 7rem;
        }
}
  
       
           